* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-webkit-user-select: none;
}

html, 
body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

input[type=file] {display: none;}
.hide {display: none;}