.player {
	width: 100%;
	height: 10.5%;
	display: block;
	overflow: hidden;
	position: relative;
	background-color: #2196F3; 
}
.player .container {
	width: 100%;
	height: 11%;
}
.player .seek {
	width: 100%;
	height: 2%;
}
.player .seek .seekbar {
	-webkit-appearance: none;
	width: 100%;
	cursor: pointer;
}
.player .seek .seekbar::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #3F51B5;
}
.player .seek .seekbar::-webkit-slider-runnable-track {
	-webkit-appearance: none;
	width: 100%;
	height: 15px;
	background-color: #009688;
}
/*.player .seek .seekbar:focus::-webkit-slider-runnable-track { box-shadow: 0 0 5px black; }*/
.player .seek .seekbar:focus {outline:none;}


.player .controls {
	width: 150px;
	height: 50px;
	float: left;
	padding: 2px;
}
.player .controls img {
	margin: 5px;
	cursor: pointer;
	float: left;
}
.player .controls img:hover {box-shadow: 0 0 1px black;}

.player .song-title {
	text-align: center;
	width: 550px;
	height: 50px;
	float: left;
	padding: 12px 0;
}

.player .sound {
	width: 150px;
	height: 50px;
	float: left;
	padding: 20px 10px;
}
.player .sound .volume-control {
	-webkit-appearance: none;
	width: 100%;
	cursor: pointer;
	border-radius: 10px;
}
.player .sound .volume-control::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #3F51B5;
}
.player .sound .volume-control::-webkit-slider-runnable-track {
	width: 100%;
	height: 15px;
	border-radius: 10px;
	background-color: #009688;
}
.player .sound .volume-control:focus {outline:none;}








#audio-progress {
	-webkit-appearance: none;
	width: 100%;
}
#audio-progress::-webkit-progress-bar {
	-webkit-appearance: none;
	background-color: #009688;
}
#audio-progress::-webkit-progress-value {
	-webkit-appearance: none;
	background-color: #3F51B5;
}
